/*CSS FILE(GrootFR)*/

html, body {
    /*background-color: green;*/
    background-image: url("https://tse3.mm.bing.net/th/id/OIP.bVjATUMT6MhK5INnRrsaDQHaMR?cb=ucfimg2ucfimg=1&rs=1&pid=ImgDetMain&o=7&rm=3");

    font-size: 3;
    height: 100%;
    width: 100%;
}

#greeting{
    color:aqua;
    margin-left: 25px;/* 52% */
    margin-bottom: 50px;
}

h2.new1{
    font-family: Verdana;
}

h1{
    border-style: solid;

}
h2{
    outline-style: dashed;
    outline-offset: 10px;
}

h2, a{ /*h1>a*/
    color: darkcyan;
    background-color: rgb(137, 2, 128);
    text-align-last: center;
    vertical-align: top;
    text-decoration-line: underline;/*linethrough,overline*/
    text-decoration-color: chartreuse;
    text-decoration-style: dotted;
    letter-spacing: 5px;
}

tr:hover{
    color: #000;
}





