body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  padding: 40px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.data-table {
  width: 75%;
  border-collapse: collapse;
  background: #fff;
}

.data-table th,
.data-table td {
  border: 2px solid #ccc;
  padding: 15px;
  padding-right: 25px;;
}

.data-table th {
  background: #2c3e50;
  color: #fff;
  text-align: left;
}

.data-table input {
  width: 100%;
  padding: 6px;
  border: 1px solid #bbb;
  border-radius: 4px;
}

.data-table tr:nth-child(even) {
  background: #f2f2f2;
}

.submit-btn {
  margin-top: 15px;
  padding: 10px 20px;
  background: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background: #2980b9;
}
